*{margin:0}

#addEmployeeDiv {
  overflow: hidden;
}

#blankRow {
  height: 20px;
  background-color: lightgrey;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

#content {
  margin: 5%;
}

.delButton {
  width: 100%;
}

.delColumn {
  border: none;
  flex-grow: 1;
  width: 5%;
  text-indent: 0px;
}

#fNameInput {
  margin-left: 0px;
}

.greyRow {
  background-color: lightgrey;
}

header {
  background-color: grey;
  color: white;
  margin: 0px;
  padding: 20px;
  text-align: center;
}

h2 {
  margin: 10px 10px 10px 0px;
}

h3 {
  font-size: 1.5em;
  margin: 10px 0px 10px 10px;
  text-align: right;
}

input {
  border: black 2px solid;
  flex-grow: 1;
  font-size: 1.25em;
  height: 1.25em;
  margin: 5px;
  /* width: 90%; */
}

#inputFieldsDiv {
  display: flex;
  justify-content: space-between;
}

#salaryInput {
  margin-right: 0px;
}

#submitButton {
  float: right;
  font-size: 1.25em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

#tableHead {
  background-color: darkGrey;
}

tbody tr {
  text-indent: 10px;
}

tr {
  display: flex;
}

.fNameTable {
  /* flex-grow: 4; */
  width: 30%;
}

.lNameTable {
  /* flex-grow: 4; */
  width: 30%;
}

.idTable {
  /* flex-grow: 2; */
  width: 10%;
}

.titleTable {
  /* flex-grow: 3; */
  width: 20%;
}

.salaryTable {
  /* flex-grow: 3; */
  width: 15%;
}

table, tr, th {
  border: black 1px solid;
}
